.hero-section {
  display: flex;
}

.hero {
  padding: 200px 0px;
}

.hero-right img {
  width: 100%;
}

.hero-left h1 {
  max-width: 400px;
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-right img {
  border-radius: 20px;
  border: 1px solid black;
}
.hero-right img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
