@import url("../css/home.css");
@import url("../css/task.css");
@import url("../css/conclusion.css");
@import url("../css/resourse.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero-section {
  gap: 20px;
}

header {
  background-color: black;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

ul a {
  color: white;
  font-size: 18px;
  transition: color 0.5s;
}

ul a:hover {
  color: rgb(143, 66, 11);
  text-decoration: underline;
}

/* --- RESPONSIVE --- */
.menu-btn {
  display: none;
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn {
  display: none;
  font-size: 26px;
  color: white;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.card-items {
  text-align: center;
}

.hero-left p {
  margin-bottom: 15px;
  color: gray;
}

.card-items p {
  color: grey;
  margin-top: 10px;
}

@media (max-width: 850px) {
  .hero-left h1 {
    font-size: 30px;
  }
  .nav-list {
    gap: 35px;
  }
}

@media (max-width: 750px) {
  .nav-list {
    gap: 20px;
  }
  .hero-section {
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .menu-btn {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 65%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.4s ease;
    z-index: 1000;
  }

  .main-nav.active {
    left: 0;
  }

  .close-btn {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    gap: 30px;
  }

  ul a {
    font-size: 22px;
  }
}
